venv_thesis
DataGeneration/venv_data_thesis
*.DS_Store
DataGeneration/Meshes
DataGeneration/VTK_files
DataGeneration/openfoam/run/Channel_branch
DataGeneration/openfoam/run/Channel_bifurcation/0.*
DataGeneration/openfoam/run/Channel_bifurcation/1.*
DataGeneration/openfoam/run/Channel_bifurcation/2.*
DataGeneration/openfoam/run/Channel_bifurcation/3
DataGeneration/openfoam/run/Channel_bifurcation/VTK
DataGeneration/openfoam/run/Channel_straight/0.*
DataGeneration/openfoam/run/Channel_straight/1.*
DataGeneration/openfoam/run/Channel_straight/2.*
DataGeneration/openfoam/run/Channel_straight/3
DataGeneration/openfoam/run/Channel_straight/VTK
DataGeneration/openfoam/run/Channel_branch/0.*
DataGeneration/openfoam/run/Channel_branch/1.*
DataGeneration/openfoam/run/Channel_branch/2.*
DataGeneration/openfoam/run/Channel_branch/3
DataGeneration/openfoam/run/Channel_branch/VTK
DataGeneration/openfoam/run/Channel_bend90/0.*
DataGeneration/openfoam/run/Channel_bend90/1.*
DataGeneration/openfoam/run/Channel_bend90/2.*
DataGeneration/openfoam/run/Channel_bend90/3
DataGeneration/openfoam/run/Channel_bend90/VTK
DataGeneration/openfoam/run/channel_straight_laminar
DataGeneration/openfoam/run/channel_straight_ico_2beats
DataGeneration/openfoam/run/tutorial_pitzDaily
DataGeneration/*.jpeg
DataGeneration/*.gif
DataGeneration/*.jpg
DataGeneration/*.png
DataGeneration/Data_Generated
MLImplementation/model
MLImplementation/data
MLImplementation/colorbars
MLImplementation/error_timestep_plots
MLImplementation/results_csv
MLImplementation/animation
MLImplementation/difference_images
MLImplementation/predicted_beats
MLImplementation/max error location plots
MLImplementation/*.png
MLImplementation/jobscript*
